body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCFF99;
}
.main{
    border: 2px solid black;
    width: 920px;
    background-color: #fff;
    padding-top: 5px;
}

.main_edit{
    border: 2px solid black;
    width: 500px;
    background-color: #fff;
}

.edit_form{
    margin-left: 10px;
    padding: 10px;
}

.fifa{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#task-filter{
    width: 200px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    width: 100%;
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
    white-space: normal;
    word-wrap: break-word;
}

th {
    background-color: #f1f1f1;
}
.create{
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    padding: 5px 0 5px 0;
}

input[type="number"],
input[type="datetime-local"],
select{
    width: 31%;
    padding: 5px;
    border: 1px solid #ccc;
}

input[type="date"]{
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 4px;
    margin-left: 20px;
}

input[type="text"],
textarea {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

a {
    margin-right: 10px;
    color: #4CAF50;
    text-decoration: none;
}

h1, h2 {
    margin-left: 20px;
}

.back{
    margin-right: 20px;
    margin-top: 30px;
    float: right;
}
.choice{
    margin-left: 120px;
}

.btn_search{
    margin-left: 5px;
    padding: 6px 14px !important;
}

.act{
    margin: 0;
}

tr:hover {
    background-color: #4caf4f46; 
  }

/* .typ{
    max-width: 50px;
}
.zad{
    min-width: 180px;
}
.mes{
    max-width: 60px;
}
.dat{
    min-width: 75px;
} */
.dli{
    width: 107px;
}
.com{
    width: 120px;
}
.sta{
    width: 55px;
}
.dei{
    width: 109px;
    
}